name: douban

on:
  workflow_dispatch:
  schedule:
    - cron: "* */6 * * *"

jobs:
  sync:
    name: douban
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: write diary
        run: |
          python scripts/notion/douban.py