name: Generate Diary

on:
  workflow_dispatch:
    inputs:
      content:
        description: 'content'
        required: false


jobs:
 build:
    name: Build
    runs-on: ubuntu-latest
    steps:
     - name: Send mail
     - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          # Required mail server address:
          server_address: smtp.gmail.com
          # Required mail server port:
          server_port: 465
          # Optional (recommended): mail server username:
          username: ${{secrets.MAIL_USERNAME}}
          # Optional (recommended) mail server password:
          password: ${{secrets.MAIL_PASSWORD}}
          # Required mail subject:
          subject: Github Actions job result
          # Required recipients' addresses:
          to: 458832194@qq.com
          # Required sender full name (address can be skipped):
          from: linkang.ma@gmail.com # <user@example.com>
          # Optional whether this connection use TLS (default is true if server_port is 465)
          secure: true
          # Optional plain body:
          body: ${{ github.event.inputs.content }}
        