name: Generate Diary

on:
  workflow_dispatch:
    inputs:
      weather:
        description: 'weather'
        required: false
      content:
        description: 'content'
        required: false


jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: notion generator
        run: |
          python scripts/generator.py '${{ secrets.NOTION_SECRET }}' '${{ secrets.NOTION_PAGE_ID }}' '${{ secrets.NOTION_VERSION }}' '${{ secrets.UNSPLASH_ACCESS_KEY }}' '${{ github.event.inputs.weather }}' '${{ github.event.inputs.content }}'