name: Github Sync

on:
  workflow_dispatch:
    inputs:
      location:
        description: 'location'
        required: false
      content:
        description: 'content'
        required: false

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Github Sync
        run: |
          python scripts/github.py '${{ secrets.NOTION_SECRET }}' '${{ secrets.NOTION_PAGE_ID }}' '${{ secrets.NOTION_VERSION }}' '${{ secrets.GITHUB_TOKEN }}' '${{ github.event.inputs.location }}' '${{ github.event.inputs.content }}'
