name: Github Sync
on:
  schedule:
    - cron: "* 16 * * *"
jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Github Sync
        run: |
          python scripts/github.py '${{ secrets.NOTION_SECRET }}' '${{ secrets.NOTION_VERSION }}'
      - name: commit
        uses: EndBug/add-and-commit@v7
        with:
          branch: master
          author_name: malinkang
          author_email: linkang.ma@gmail.com
          committer_name: malinkang
          committer_email: linkang.ma@gmail.com
