name: nobelium sync
on:
  workflow_dispatch:
    inputs:
      content:
        description: 'content'
        required: false
  schedule:
    - cron: "50 15 * * *" # 23:50 同步
jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: nobelium sync
        run: |
          python scripts/notion/nobelium.py