name: add photo 

on:
  workflow_dispatch:
    inputs:
      content:
        description: 'content'
        required: true
jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: add photo
        run: |
          python scripts/notion/photo.py '${{ github.event.inputs.content }}'
      - name: commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: malinkang
          author_email: linkang.ma@gmail.com
          committer_name: malinkang
          committer_email: linkang.ma@gmail.com