name: update weather

on:
  workflow_dispatch:
    inputs:
      content:
        description: 'content'
        required: false
jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: update weather
        run: |
          python scripts/notion/weather.py '${{ github.event.inputs.content }}'