name: write diary

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *"

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: write diary
        run: |
          python scripts/write_diary.py '${{ secrets.NOTION_SECRET }}' '${{ secrets.NOTION_VERSION }}'